<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../../Public/CSS/sidebar.css">
    <link rel="stylesheet" href="../../Public/CSS/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- dashboard -->
<div class="Main">
        <div class="Sidebar">
            <h1>Coral & Pearl</h1>
            <p class="faint-font">The Best Seafood Around</p>
            <a href="#"><i class="fa fa-home"></i> Dashboard</a>
            <a href="#"><i class="fa fa-list"></i> Manage Menu</a>
            <a href="#"><i class="fa fa-shopping-cart"></i> Track Order Status & Customer Order</a>
            <a href="#"><i class="fa fa-table"></i> Table Management</a>
            <a href="#"><i class="fa fa-bar-chart"></i> Reports</a>
            <a href="#"><i class="fa fa-user"></i> User Management</a>
        </div>
        <div class="Content">
            <!-- this is where all the main content at -->
            <!-- please write it here and write it with proper class name and dont style the pure html element if u dont understand when to do it -->
        </div>
    </div>
</body>
</html>