*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.Main{
    display: flex;
    flex-direction: row;
    align-items: left;
    padding: 3% 3%;
}
.Content{
    width: 77%;
    height: 87vh;
    background-color: aqua;
}