*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.Main{
    display: flex;
    flex-direction: row;
    align-items: left;
    padding: 3% 3%;
}
.faint-font {
    font-size: 18px;
    color: #5555558e;
    margin-bottom: 20px;
}
.Sidebar h1 {
    font-size: 40px;
}
.Sidebar{
    width: 22%;
}
.Sidebar a{
    text-decoration: none;
    color: black;
}
.Sidebar a{
    display: block;
    text-decoration: none;
    padding: 12px 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    transition: 0.3s;
   
}
.Sidebar a:hover {
    color: #2cff3e
}
.Sidebar a i {
    margin-right: 8px;
    font-size: 20px;
}
.Content{
    width: 77%;
    height: calc(100vh - 12vh);
    padding: 3% 0;
    background-color: aqua;
}