/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    line-height: 1.6;
    color: #334155;
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Login box */
.login-container {
    background: transparent;
    background-color: #fdfdfd70;
    border-radius: 12px;
    padding: 32px;
    border: 2px solid #e2e8f0;
    box-shadow: 0 4px 20px -1px rgba(0, 0, 0, 0.1);
    margin: auto
    ;
}
h1 {
    font-size: 50px;
    text-align: center;
    color: black;
}

h2, h4 {
    text-align: center;
}

h4 {
    font-weight: 400;
    margin-bottom: 3vw;
}

.login-container h3 {
    margin-bottom: 20px;
}

/* Inputs */
form input {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
    font-size: 15px;
    background: rgba(245, 245, 245, 0.623);
}

form input:focus {
    border-color: #4e73df;
}
.forgot_pass_checkbox{
    display: flex;
    margin-bottom: 15px;
    color: black;
    justify-content: space-between;
}

.forgot_pass_checkbox div {
    margin-left: 1vw;
    display: flex;
    gap: 1vw;
}

.forgot_pass_checkbox div input[type="checkbox"] {
    width: 15px;
}

a{
    text-decoration: none;   
}
a:hover{
    text-decoration: underline;
    color: #0c2674;
}

.sign_in {
    align-items: center;
    justify-content: center;
    height: 40px;
}
/* Submit button */
form input[type="submit"] {
    background: red;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background: #2e64d9;
}
